@charset "utf-8";
/* CSS Document */
#supply .EMPTYDIV{width:1001px; height:5px; padding:0; margin:0;}
#supply #showlist{ margin-bottom:15px;}
#supply #register{ margin-top:0; margin-bottom:20px;}
#supply #Info{ margin-top:0;}
#supply #DOWN{ margin-top:0;}
