div{
	padding:0;
	margin:0;}
.LunTan{
	width:1001px;
	margin-left:auto;
	margin-right:auto;
	margin-top:2px;}
#test{
	padding:0;
	margin:0;
	width:1001px;
	height:250px;
	border-style:solid;
	border-width:1px;
	border-color:#A9CBEE;}
#left{
	width:180px;
	border-right-style:solid;
	border-right-color:#A9CBEE;
	border-width:1px;}
#rightTop{
	font-size:12px;
	height:23px;
	border-bottom-style:solid;
	border-bottom-color:#A9CBEE;
	border-width:1px;}
#center{
	height:202px;}
#cnt{
	position:relative;
	left:30px;
	min-height:180px;
	height:auto;
	width:700px;}
#rightBottom{
	font-size:12px;
	height:23px;
	border-top-style:solid;
	border-top-color:#A9CBEE;
	border-width:1px;}
.background{
	background-color:#F6F9FE;}
#leftInfo{
	padding:0;
	margin:0;
	position:relative;
	left:10px;
	float:left;
	width:180px;
	font-size:12px;}
.left{
	float:left;}
.right{
	float:right;}
#touPiao ul{
	list-style-type:none;
	padding:0;
	margin:0;}
#touPiao ul li{
	float:left;
	padding:0 5px 0;}
#touPiao ul li a{
	text-decoration:none;}
.border{
	border-right-style:solid;
	border-width:1px;}
p{
	width:100px;}